<!DOCTYPE html>
<html>
  <head>
    <title>Stockapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'http://dev.evernote.com/documentation/reference/style.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
  
  
    </head>

  <body>

    <%= image_tag 'Stock app-logo.png' %>

    <%= yield %>

    <%= link_to "HOME", "/" %>
    <%= link_to "create note", new_note_path %>

  </body>
</html>